name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  sizes:
    strategy:
      fail-fast: true

    name: Contract sizes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Contract sizes
        run: |
          forge --version
          forge build --sizes --skip test --skip script
        id: build

  fmt:
    strategy:
      fail-fast: true

    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Format
        run: |
          forge fmt --check
        id: fmt

  test:
    strategy:
      fail-fast: true

    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Test
        run: |
          forge test -vvv
        id: test

  slither:
    strategy:
      fail-fast: true

    name: Slither
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Run Slither
        uses: crytic/slither-action@v0.4.0
        id: slither
        with:
          fail-on: low


  solhint:
    strategy:
      fail-fast: true

    name: Solhint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run solhint
        run: npx solhint "src/**/*.sol" --max-warnings 0

  invariants:
    needs: [sizes, fmt, test, slither, solhint]
    strategy:
      fail-fast: true
      matrix:
        fuzzer: [echidna, medusa]

    name: Invariants
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install Crytic-compile
        run: |
          pip install crytic-compile

      - name: Install Slither
        run: |
          pip install slither-analyzer

      - name: Install Fuzzer (${{ matrix.fuzzer }})
        run: |
          if [[ "${{ matrix.fuzzer }}" == "echidna" ]]; then
            TOOL="echidna"
            URL="https://github.com/crytic/echidna/releases/download/v2.2.6/echidna-2.2.6-x86_64-linux.tar.gz"
          elif [[ "${{ matrix.fuzzer }}" == "medusa" ]]; then
            TOOL="medusa"
            URL="https://github.com/crytic/medusa/releases/download/v1.2.1/medusa-linux-x64.tar.gz"
          else
            echo "Unsupported fuzzer: ${{ matrix.fuzzer }}"
            exit 1
          fi

          wget "$URL" -O "$TOOL.tar.gz"
          tar -xvkf "$TOOL.tar.gz"
          rm "$TOOL.tar.gz"
          ./$TOOL --version

      - name: Run Fuzzer (${{ matrix.fuzzer }})
        run: |
          make ${{ matrix.fuzzer }}

  coverage:
    strategy:
      fail-fast: true

    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Coverage
        run: |
          forge coverage --no-match-coverage "(script|test)" --report lcov

      - name: Coveralls
        uses: coverallsapp/github-action@v2

  upload-selectors:
    if: github.ref == 'refs/heads/main'
    strategy:
      fail-fast: true

    name: Upload Selectors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Upload Selectors
        run: |
          forge selectors upload --all
